<!-- <form >
    <div class="row py-5 add-border border-bottom">
        <div class="fs-6 fw-bold w-100">General Settings</div>
        <p class="text-dec">
            The General Settings let you change many of the items
            that control how Policy Server is displayed, language
            and more.
        </p>
    </div>

    <div class="row py-3">
        <div class="col-md-6">
            <label formControlName=""ieldlabel" class="col-form-label fw-bolder text-nowrap">
                Default Langauge</label>
        </div>
        <div class="col-md-5">
            <input type="text"
                class="form-control form-control-solformControlName=""xt-nowrap"
                name="Default_Langauge" formControlName="Default_Langauge"
                placeholder="Enter Default Langauge" />
        </div>
    </div>
    <div class="row py-3">
        <div class="col-md-6">
            <label formControlName=""ieldlabel" class="col-form-label fw-bolder text-nowrap">
                Feed Enabled</label>
        </div>
        <div class="col-md-5">
            <input type="text"
                class="form-control form-control-solformControlName=""xt-nowrap"
                name="Feed_Enabled" formControlName="Feed_Enabled"
                placeholder="Enter Feed Enabled" />
        </div>
    </div>
    <div class="row py-3">
        <div class="col-md-6">
            <label formControlName=""ieldlabel" class="col-form-label fw-bolder text-nowrap">
                Logo Url</label>
        </div>
        <div class="col-md-5">
            <input type="text"
                class="form-control form-control-solformControlName=""xt-nowrap"
                name="Logo_Url" formControlName="Logo_Url"
                placeholder="Enter Logo Url" />
        </div>
    </div>

    <div class="row pt-10 justify-content-end">
        <div class="col-2 ms-3 text-end">
            <a><button type="button" class="btn btn-sm btn-light">
                    Cancel
                </button></a>
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-sm btn-primary">
                Update
            </button>
        </div>
    </div>
</form> -->
<div>
    <h1>{{date}}</h1>
    <h1>{{newData}}</h1>
<!-- <input type="text" #data (input)="data1(data.value)"> -->
</div>
<form >
   Name: <input type="text" class="form-control m-3"   name="name" formControlName="name">
   Lastname: <input type="text" class="form-control m-3"  name="lastname" formControlName="">
   Sername: <input type="text" class="form-control m-3"  name="surname" formControlName="">
   Email: <input type="email" class="form-control m-3"  name="email" formControlName="">
   Password: <input type="password" class="form-control m-3"  name="password">
  <button type="submit" class="btn btn-primary ms-auto m-3"> Submit</button>
</form>
